/* Rectangle 2 */
#auth-page {
  background: linear-gradient(135.12deg, #016fb9 24.95%, #558caa 84.86%);
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  #auth-page {
    height: 140vh;
  }
}
