#form-container {
  box-sizing: border-box;
  background: #ffffff;
  width: 32%;
  padding: 50px;
  border: 2px solid #cdcdcd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

#form-container,
#form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form-container h1 {
  margin-bottom: 10px;
}

.form-btn {
  width: 40%;
  padding: 14px 8px;
  border: none;
  font-size: 16px;
  background-color: #016fb9;
  color: #ffffff;
}

.form-btn:hover {
  background-color: #075b94;
}

#auth-toggle {
  font-weight: bold;
  margin: 10px;
}

#form-toggle {
  color: #016fb9;
}

#form-toggle:hover {
  cursor: pointer;
  color: #075b94;
}

#form-img {
  height: 10vh;
}

.error {
  color: #ca4148;
  background-color: #ffbaba;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ca4148;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  #form-container {
    width: 100%;
  }

  #auth-toggle,
  .form-btn {
    font-size: 12px;
  }
}

@media screen and (max-width: 850px) {
  #form-container {
    width: 90%;
  }
}
